<div class="container-fluid" style="margin-top: 10px;">

  <div class="row">
    <div class="col-sm-2">
      <button type="button" class="btn btn-success" style="width:100%;" (click)="startDiscovery()">
        <span *ngIf="discovering" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Auto
        Discovery</button>
      <button type="button" class="btn btn-primary" style="width:100%;margin-top: 5px;" data-bs-toggle="modal"
        data-bs-target="#searchModal">Manual Search</button>

    </div>
    <div class="col-sm-10">
      <div class="row row-cols-1 row-cols-md-4">
        <div *ngFor="let reader of readerList">
            
          <div class="col mb-4">
            <div class="card-container">
              <div class="card" [ngClass]="{'flipped': reader.flipped}">
                <div class="card-inner">
                  <div class="card-front">
                    <div class="card-body">
                      <h5 class="card-title">{{reader.model}} <span *ngIf="reader.isConfigured" class="badge bg-success">Configured</span></h5>
                      <p class="card-text">{{reader.friendlyName}}</p>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">IP: {{reader.address}}</li>
                        <li class="list-group-item">Firmware: {{reader.fwVersion}}</li>
                        <li class="list-group-item">SN: {{reader.serialNumber}}</li>
                      </ul>
                      <a href="#" class="btn btn-primary" *ngIf="!reader.isConfigured" style="width:100%;margin-top: 10px;" (click)="toggleConfiguration(reader)">Configure</a>
                    </div>
                  </div>
                  <div class="card-back">
                    <div class="card-body">
                      <h5 class="card-title">{{reader.model}}</h5>
                      <p class="card-text">{{reader.friendlyName}}</p>
                      <form [formGroup]="configureReader" (ngSubmit)="onReaderConfigure(reader)">
                        <div>
                          <label for="username">Username:</label>
                          <input id="username" class="form-control form-control-sm" type="text" formControlName="username"placeholder="Default is 'admin'">
                        </div>
                        <div>
                          <label for="password">Password:</label>
                          <input id="password" class="form-control form-control-sm" type="password" formControlName="password"placeholder="Default is 'change'">
                        </div>
                          <div *ngIf="this.configureReader.errors" class="alert alert-danger" style="width:100%;margin-top: 10px;" role="alert">
                            {{this.configureReader.errors}}
                        </div>
                        
                        <button type="button" class="btn btn-primary" style="width:100%;margin-top: 10px;" (click)="onReaderConfigure(reader)">Configure</button>
                      </form>
                      <a href="#" class="btn btn-secondary" style="width:100%;margin-top: 10px;" (click)="toggleConfiguration(reader)">Back</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
<!--             
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">{{reader.model}}</h5>
                <p class="card-text">{{reader.friendlyName}}</p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">IP: {{reader.address}}</li>
                  <li class="list-group-item">Firmware: {{reader.fwVersion}}</li>
                  <li class="list-group-item">SN: {{reader.serialNumber}}</li>
                </ul>
                <a href="#" class="btn btn-primary">Configure</a>
              </div>
            </div>
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel">Search</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="searchReaderForm" (ngSubmit)="onSearch()">
          <div>
            <label for="hostname">
              HostName / IP:
            </label>
            <input id="hostname" class="form-control form-control-sm" type="text" formControlName="hostname"
              placeholder="e.g. FX9600XXXXXX or 192.168.1.X">
          </div>
          <div>
            <label for="username">
              Username:
            </label>
            <input id="username" class="form-control form-control-sm" type="text" formControlName="username"
              placeholder="Default is 'admin'">
          </div>
          <div>
            <label for="password">
              Password:
            </label>
            <input id="password" class="form-control form-control-sm" type="password" formControlName="password"
              placeholder="Default is 'change'">
          </div>
          <button type="button" class="btn btn-primary" style="width:100%;margin-top: 10px;"
            (click)="onSearch()">Search</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSearch()">Search</button>
      </div>
    </div>
  </div>
</div>