<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary" style="width:100%;">Start Reading</button>
        <button type="button" class="btn btn-danger" style="width:100%;margin-top: 5px;">Stop Reading</button>
        <div class="card text-bg-success mb-3" style="max-width: 18rem; margin-top: 15px;">
            <div class="card-header">Unique Tags Read</div>
            <div class="card-body">
              <p class="text-center fs-1">20</p>
            </div>
          </div>
        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Total Reads</div>
            <div class="card-body">
              <p class="text-center fs-1">20</p>
            </div>
          </div>
        <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">Error Count</div>
            <div class="card-body">
              <p class="text-center fs-1">20</p>
            </div>
          </div>
      </div>
      <div class="col">
        <table class="table table-dark">
          <thead class="table-primary">
            <tr>
              <th scope="col">EPC</th>
              <th scope="col">Timestamp</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
            </tr>
          </tbody>
        </table>

    </div>
</div>

</div>