/* You can add global styles to this file, and also import other style files */
html, body {
    background-color: lightsteelblue; 
}
.json-container {
    height: 100%;
    width: 100%;
  }
  
  .json-viewer {
    height: 100%;
    overflow: auto;
  }