<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <button type="button" class="btn btn-primary">
            Control Interface <span class="badge text-bg-secondary">4</span>
          </button>
        
        </div>

        <section style="background-color: #eee;">
              <div class="row" style="margin-top: 10px">
                  <ul class="list-unstyled">
                    <li class="d-flex justify-content-between mb-4">
                        <div class="card" style="margin-left: 20%;">
                          <div class="card-header d-flex justify-content-between p-3">
                            <p class="fw-bold mb-0">crl/res</p>
                            <p class="text-muted small mb-0"><i class="far fa-clock"></i> 10 mins ago</p>
                          </div>
                          <div class="card-body">
                              <ngx-json-viewer [json]="dummyJsonObject" [expanded]="false"></ngx-json-viewer>
  
                          </div>
                        </div>
                      </li>
                      <li class="d-flex justify-content-between mb-4">
                        <div class="card" style="margin-right: 20%;">
                          <div class="card-header d-flex justify-content-between p-3">
                            <p class="fw-bold mb-0">crl/res</p>
                            <p class="text-muted small mb-0"><i class="far fa-clock"></i> 10 mins ago</p>
                          </div>
                          <div class="card-body">
                              <ngx-json-viewer [json]="dummyJsonObject" [expanded]="false"></ngx-json-viewer>
  
                          </div>
                        </div>
                      </li>
    
                  </ul>
          
          
              </div>
          
          </section>

        
    </div>

